.env
*.local
*.log

node-red/data
node-red/.config*.json
node-red/flows.json.backup
node-red/flows_cred.json
node-red/.npm/
node-red/node_modules/
node-red/lib/

mqtt/data
mqtt/log

*/data/
*/volumes/